/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}
.h3{
  text-align: left;

}
.h6{
  text-align: left;
}
.tabs{
  text-align: left;
}
.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} 
p{
  text-align: left;
}
h3{
  text-align: left;
}
.content{
  margin:10px;
}
label{
  color:blue;  
  float: left;
  margin-bottom: 20px;
}
.ant-btn-primary{  
  width: 100% !important;
  height: 45px !important;
  font-size: 15px !important;
  font-weight: bold !important;
}
button.ant-btn.ant-btn-lg {
  width: 100% !important;
  border-radius: 0 !important;
}
.ant-input{  
  color: #40a9ff;
  border-color: #40a9ff !important;
  border-radius: 0 !important;
}
.ant-select-selection--single {
  border-color: #40a9ff !important;
  border-radius: 0 !important;
}
button.ant-btn {
  width: 100% !important;
}
.active{
  border-bottom: 4px !important;
  border-style: outset !important;
  border-color: #000 !important;
}
.ant-input-number{
  color: #40a9ff;
  border-color: #40a9ff !important;
  border-radius: 0 !important;
}

.ant-input-number-lg {
  color: #40a9ff;
  border-color: #40a9ff !important;
  border-radius: 0 !important;
}
@media (max-width: 480px){
  .ant-steps-horizontal.ant-steps-label-horizontal .ant-steps-item-content {
    display: block;
    min-height: 0 !important; 
    overflow: hidden;
  }
  .ant-steps-horizontal.ant-steps-label-horizontal {
    display: flex !important; 
  }
}
.ant-steps-item-disabled{
  pointer-events: none;
} */